html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#crypto-data {
  display: none;
}

#crypto-data.show {
  display: block;
}
